.create-advert {
  background: $bg1;
  min-height: $min-height;
  padding: 32px 0 120px;
  &__back {
    padding: 10px 16px;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(37, 42, 49, 0.16),
      0px 1px 4px rgba(37, 42, 49, 0.12);
    border-radius: 4px;
    gap: 8px;
    border: none;
    margin-bottom: 24px;
  }
  &__main {
    gap: 24px;
    align-items: flex-start;
    .main {
      flex-grow: 1;
      &__adverts-type {
        background: white;
      }
      &__adverts-parametrlar {
        .paramertlar {
          display: flex;
          align-items: center;
          gap: 16px;
          row-gap: 0;
          flex-wrap: wrap;
          & > div {
            width: 30%;
            flex-grow: 1;
          }
        }
      }
      &__adverts-qoshimcha {
        .paramertlar {
          gap: 16px;
          display: flex;
          flex-wrap: wrap;
          margin-top: 16px;
          align-items: center;
          & > label {
            width: 32%;
            margin: 0;
          }
        }
        & > .flex {
          gap: 16px;
          & > div {
            flex-grow: 1;
          }
        }
      }
      &__adverts-map {
        .map > div {
          width: 100% !important;
          .ymaps-2-1-79-map {
            width: 100% !important;
          }
        }
      }
      .ant-form {
        gap: 16px;
        display: flex;
        flex-direction: column;
      }
      .ant-form-item {
        margin-bottom: 0;
        margin-top: 24px;

        &-label > label {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #4f5e71;
        }
      }
      section {
        background-color: white;
        padding: 32px;
        box-shadow: 0px 0px 2px rgba(37, 42, 49, 0.16),
          0px 1px 4px rgba(37, 42, 49, 0.12);
        border-radius: 4px;

        .title {
          font-weight: 700;
          font-size: 28px;
          line-height: 36px;
          color: #252a31;
        }
      }
    }
  }
  .sidebar {
    width: 340px;
    flex-shrink: 0;
    background: #ffffff;
    box-shadow: 0px 0px 2px rgba(37, 42, 49, 0.16),
      0px 1px 4px rgba(37, 42, 49, 0.12);
    border-radius: 4px;
    padding: 24px;
    position: sticky;
    top: 20px;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .flex {
        gap: 8px;
        cursor: pointer;
        justify-content: flex-start;
        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          text-decoration-line: underline;
          color: #252a31;
        }
      }
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      color: #252a31;
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 1080px) {
  .create-advert {
    &__main {
      .sidebar {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .create-advert {
    &__main {
      .main {
        section {
          padding: 20px;

          .title {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
          }
          .ant-radio-button-wrapper:first-child,
          .ant-radio-button-wrapper:last-child {
            border-radius: initial;
          }
        }
        &__adverts-type {
          .flex {
            flex-direction: column;
            gap: 0;
            & > div {
              width: 100% !important;
            }
          }

          .ant-form-item {
            margin-top: 8px !important;
          }
        }
        &__adverts-parametrlar {
          .ant-form-item {
            margin-top: 8px !important;
          }
          .paramertlar {
            flex-direction: column;
            & > div {
              width: 100% !important;
            }
          }
        }
        &__adverts-qoshimcha .paramertlar > label {
          width: 45%;
        }
        &__adverts-narx {
          .ant-form-item {
            margin-top: 8px !important;
          }
          .flex {
            flex-wrap: wrap;
            .ant-checkbox-wrapper {
              flex-shrink: 0;
            }
          }
        }
        &__adverts-about {
          .ant-form-item {
            margin-top: 8px !important;
          }
        }
        &__adverts-phone {
          .ant-form-item {
            margin-top: 8px !important;
          }
          .flex {
            gap: 0;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .create-advert {
    &__main {
      .main {
        &__adverts-type,
        &__adverts-narx {
          .ant-radio-group {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
          }
        }
      }
    }
  }
}
