.footer {
  padding: 40px 0 16px;
  background-color: white;

  &__top {
    gap: 120px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__logo {
    & > .flex {
      margin-top: 64px;
      a svg {
        transition: 0.3s ease-in-out;
        &:hover {
          transform: translateY(-4px);
        }
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: #252a31;
      margin-bottom: 12px;
    }

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__bottom {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #e8edf1;
  }
}

@media (max-width: 800px) {
  .footer {
    &__top {
      gap: 64px;
      flex-wrap: wrap;
      & > div:not(:first-child) {
        flex-grow: 1;
      }
    }
    &__bottom {
      flex-wrap: wrap;
      span {
        order: 2;
      }
    }
  }
}

@media (max-width: 500px) {
  .footer {
    &__logo .flex {
      margin-top: 32px;
    }
    &__top {
      gap: 24px;
      flex-direction: column;
    }
  }
}
